.form-wrapper{
  margin: 15px auto;
  max-width: 640px;
  padding: 38px 30px;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.form-control{
  display: flex;
  justify-content: space-between; 
  align-items: center;
}
.form label{
  font-weight: bold;
}

.welcome{
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 30px; 
}

@media (max-width: 768px){
  .form-wrapper{
    width: 88vw;
  }
  .form-control{ 
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
}