.nav{
  background-color: #641f82;
  color: white;
  padding: 30px;
  height: 80px;
  font-size: 17px;

  display: flex;
  justify-content: space-between;
  align-items: center;

}
.nav h1{
  font-size: 30px;
}
.nav-left{

}
.nav-right{
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
  align-items: center;
  
}

.logout{ 
  border-radius: 20px;
  background-color: #e04199;
  border: none;
  color: white;
  padding: 10px 25px;
  font-size: 17px;
  cursor: pointer;

}

.nav a:hover,
.nav button:hover{
  color: rgb(223, 223, 223);
}